.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header-buah{
  text-align: center;
}

#table-buah {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table-buah td, #table-buah th {
  border: 1px solid rgb(241, 234, 234);
  padding: 8px;
}

#table-buah tr{background-color: #e47b19;}

#table-buah tr:hover {background-color: #ddd;}

#table-buah th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #606360;
  color: white;
}
